a {color: black;}
section { margin-top: 100px; }
/* section-wrap */
.board-list {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
/* 문의하기 버튼  */
#qna-button {
  display: block;
  padding: 10px;
  background-color: #73d09a;   
  color: #fff;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: -67px;
  right: 67px;
}

.post-item {
  background-color: #f8f9fa;
}
.post-author,
.post-date {
  width: 15%;
}
table {
  border-collapse: collapse; /* 테이블 셀 간의 간격 없애기 */
  width: 100%; /* 테이블이 가로로 꽉 차게 */
  text-align: center;
  font-size: 14px;
}

th {
  border-top: 1px solid #999; /* 셀 경계선 */
  border-bottom: 1px solid #999; /* 셀 경계선 */
  padding: 15px 0; /* 안쪽 여백 */
}

td {
  border-bottom: 1px solid #ddd; /* 셀 경계선 */
  padding: 15px 0; /* 안쪽 여백 */
}
