@charset "UTF-8";
@charset "UTF-8";
* { list-style: none; color: black;}
/* span { display: block; } */
embed {	width: 70%; }
header { margin-bottom: 80px; }
#main-url { border-radius: 20px; }
.wrap {
	width: 80%;
	margin: 0 auto;
}
.flex-box {
	display: flex;
	width: 100%;
}
.list-box {
	width: 30%;
	padding: 20px;
}
.url-title { 
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 30px;
}
.url-content {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 150px;
	color: rgb(77, 76, 76);
}

.sub-url {
	width: 70px;
}
.list { 
	overflow: scroll;
}
.scroll-box {
	height: 400px;
}
.list li a {
	display: block;
	display: flex;
	align-items: center;
}
.list li{
	width: 100%;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-bottom: 20px;
	transition: 0.2s ease-out;
}
.list li:hover {
	border: 1px solid #000;
}
.list li a span {
	font-size: 10px;
	margin-left: 20px;
}
.list li a span:first-child {
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 5px;
}
