@charset "UTF-8";

/* 모든 scroll 영역의 scoll 숨김 */
::-webkit-scrollbar {
    display: none; 
}

section {
    background: rgb(244, 244, 244, 0.5);
    width: 100%;
    padding: 50px 0;
}
section span {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 700;
}
.section-wrap {
    width: 60%;
    margin: 0 auto;
}
#dev-list h2 {
    font-size: 40px;
    margin: 10px 0 100px 0;
}
.dev-list-wrap {
    display: flex;
    justify-content: space-between;
}
.thum {
    text-align: center;
}
#dev-list .thum img {
    width: 100px;
}
#h2-span {
    display: inline;
    color: rgb(77, 76, 76);
    font-size: 35px;
}
#html {
    width: 100%;
}
.h2-title {
    font-size: 27px;
    margin: 0 0 30px 370px;
}
.h2-title-gray { 
    display: inline; 
    color: rgb(77, 76, 76); 
    font-size: 27px;
}
.scroll-box {
    padding: 25px;
    width: 100%;
    overflow-x: scroll;
}
.card-wrap {
    display: flex;
    width: max-content;
}
.url-card {
    text-align: center;
    border-radius: 7%;
    display: inline-block;
    width: 300px;
    background-color: #fff;
    padding: 30px 0 60px 0;
    margin-right: 40px;
    box-shadow: 3px 5px 10px rgba(200, 200, 200, 0.2);
    transition: 0.5s;
}
.url-card:hover {
	transform: scale(1.1);
}
.url-title,
.url-content {
    text-align: left;
    color: black;
    padding: 0 20px;
    display: block;
}
.url-title {
    font-size: 23px;
    height: 55px;
}
.url-content {
    font-weight: 400;
    font-size: 12px;
    height: 15%;
    margin: 10px 0;
}
/* url */
embed {
    width: 90%;
    height: 151.88px;
    border-radius: 5px;
}
/* scroll 버튼 event */
.hidden {
    display: none;
}
/* scroll section에 img 고정 */
.relative{
    position: relative;
}
/* url-card의 첫번째 요소 */
.background-none {
    background: rgb(244, 244, 244, 0);
    box-shadow: none;
}
/* scroll x축 제어  */
.scroll-img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: .3;
    z-index: 2;
}
.left {
	position: absolute;
	top: 50%;
	left: 20px;
}
.right {
	position: absolute;
	top: 50%;
	right: 20px;
}
#white-bg {
    padding: 40px 0;
    text-align: center;
    font-size: 14px;
    background-color: #fff;
}
#white-bg span { font-weight: normal; margin: 0;}

/* 스크롤 맨위로 올리기 */
#swipe-btn {
	position: fixed;
	bottom: 10%;
	left: 30px;
	width: 50px;
	z-index: 10;
	cursor: pointer;
}
.background-black {
	background-color: black;
	color: white;
}
