@charset "UTF-8";@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.center {
	/* width: 20%; */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input {
	box-sizing: border-box;
	border-radius: 4px;
	border-style: none;
	border: 1px solid #ccc;
	display: block;
	margin: 0 auto 10px auto;
	padding: 10px 0;
	padding-left: 5px;
	width: calc(70% - 5px);
	outline: none;
}

input::placeholder {
	color: #333(181, 181, 181);
	font-size: 14px;
}

h2 {
	text-align: center;
	display: block;
	padding: 30px 0;
	font-size: 30px;
	font-weight: 600;
}

.content-wrap {
	border: 1px solid #ccc;
	border-radius: 5px;
}

main {
	width: 50%;
	display: flex;
}

main img {
	height: 425px;
}

#login {
	width: 40%;
	background-color: #fff;
	margin-left:-62px;
}

#join {
	display: none;
	width: 40%;
	background-color: #fff;
	margin-left: 75px;
}

main .content-wrap:first-child, #join .content-wrap:first-child {
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.submit-button {
	background-color: #73d09a;
	border-style: none;
	font-weight: bold;
	color: white;
	border-radius: 5px;
	width: 70%;
	margin-top: 20px;
	cursor: pointer;
	box-shadow: 2px 2px 7px 2px rgb(233, 233, 233);
}

.submit-button:focus {
	outline: none;
}

.join .content-wrap {
	text-align: center;
	padding: 25px 0;
	font-weight: 400;
}

.text-button {
	border-style: none;
	background-color: #fff;
	font-weight: 600;
	color: #73d09a;
	cursor: pointer;
}