section {
	width: 60%;
	margin: 0 auto;
}
#title {
	border-bottom: 1px solid #ccc;
	padding: 20px 0;
	margin: 50px 0;
}
label {
	display: block;
	margin: 20px 0 6px 0;
}
input,
textarea {
	display: block;
	width: 100%;
	outline: none;
}
input {
	padding: 5px 0 5px 30px;
}
textarea {
	resize: none;
	padding-top: 5px;
	padding: 5px 30px;
}
#submit-button {
  display: block;
  padding: 10px 20px;
  background-color: #73d09a;   
  color: #fff;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0 50px auto;
}